*~
*/build/
*/dist/
*/robocop.egg.info/
*/librobocop.so*
analysis/working_config.ini
*.pyc
*nfs00000*
__pycache__/
*__pycache__*
*dm504*
.gitignore~
*.bak
*cell_cycle*
*Copy*
*copy*
*slurmScript*
*COMPETE*
*Multiple*
*multiple*
*slurm*
pkg/core
*/checkAllIfPresent.py
*/gccCompile
*/librobocop.so
*/.ipynb_checkpoints*
analysis/inputs/03202025_barcode01_sup_model_sorted_pileup_all_chr
analysis/robocop_train/tmpDir/info.h5
analysis/robocop_train/HMMconfig*.pkl
analysis/robocop_all_subset/tmpDir/*.h5
analysis/robocop_all/tmpDir/info.h5
analysis/robocop_all_abf1/tmpDir/info.h5
analysis/robocop_all_fiber/tmpDir/info.h5
analysis/inputs/DM504_sacCer3_subset.bam
